[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=$SNAP/var/opt/timeline/source/timeline.py
Name=Timeline
Icon=${SNAP}/meta/gui/timeline.png
